@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&family=Shadows+Into+Light+Two&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

/* RESET DASAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* HEADER */
header {
  width: 100%;
  background: #42281b;
  border-bottom: 1px solid #6c4b4b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* NAVBAR */
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 14px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1100;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}

/* MENU */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #8b5e3c;
}

/* GARIS HOVER ELEGAN */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #8b5e3c;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    z-index: 1100;
  }

  /* MENU JADI VERTICAL */
  .nav-menu {
    width: 100%;
    flex-direction: column;
    gap: 18px;
    margin-top: 16px;
    padding-top: 16px;
  }

  .nav-link {
    font-size: 1rem;
  }
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    z-index: 1100;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }
}

/* ANIMASI X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hero-section {
  background: #42281b;
  width: 100%;
  padding: 30px;
  margin: 0;
}

.hero-section .section-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.hero-section .hero-details .title {
  font-size: 2.3rem;
  color: #c56230;
  font-family: "Comic Sans ms", sans-serif;
}

.hero-section .hero-details .subtitle {
  font-size: 2rem;
  margin-top: 8px;
  max-width: 70%;
  font-weight: 600;
}

.hero-section .hero-details .desc {
  font-size: 1.12rem;
  margin: 24px 0 40px;
  max-height: 70%;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 24px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  background: #c56230;
  border-radius: 30px;
  color: #42281b;
  font-weight: 500;
}

.hero-section .hero-details .button:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

.hero-section .hero-img-wrapper {
  max-width: 500px;
}

.landing-page {
  text-align: center;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.landing-page::after {
  content: "";
  display: block;
  width: 6%;
  height: 10px;
  background-color: #e7891d;
  margin: 10px auto;
}

.menu-desc {
  color: #e7891d;
  font-size: 13px;
}

.about-desc {
  color: #e7891d;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-judul {
  font-size: 2rem;
  color: #868684;
  padding: 20px;
}

.container1 {
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.container1 .box-menu img {
  width: 200px;
  height: 150px;
  background-size: cover;
}

.box-menu {
  padding: 20px;
  width: 300px;
  height: 300px;
}

.box-menu .menu-title,
.menu-desc {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.container1 .box-menu p {
  color: #868684;
  font-weight: 400;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.container1 .box-menu h6 {
  font-size: 20px;
  padding: 15px;
  color: #868684;
  font-family: "Montserrat", sans-serif;
}

.container2 {
  display: flex;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding: 50px;
}

.box-about {
  width: 100%;
  height: auto;
}

.about-title {
  font-family: "Montserrat", sans-serif;
  color: #868684;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 20px;
}

.container2 .box-about p {
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #868684;
}

.container2 .box-about img {
  align-items: center;
  padding-top: 50px;
}

.landing-page-profil {
  height: 350px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 130px;
  background: #f1f0f07b;
}

.landing-page-profil::after {
  content: "";
  display: block;
  justify-content: center;
  width: 5%;
  height: 10px;
  background-color: #e7891d;
  margin: 10px auto;
}

.landing-page-profil h2 {
  color: #868684;
  font-size: 30px;
  font-weight: bold;
  padding: 13px;
}

.landing-page-profil h4 {
  color: #e7891d;
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
}

.section-menu {
  padding: 75px;
  width: 100%;
}

.menu-category {
  margin-bottom: 40px;
}

.menu-category h2 {
  font-size: 1.5rem;
  color: #868684;
  font-family: "Montserrat", sans-serif;
}

.menu-category h2::after {
  content: "";
  display: block;
  width: 10%;
  height: 10px;
  background-color: #e7891d;
  margin: 10px auto;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.menu-item {
  background-color: #fff;
  width: 200px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
  background-color: #edededa3;
}

.menu-item img {
  width: 200px;
  height: auto;
  background-size: cover;
  border-bottom: 2px solid #f4f4f4;
}

.menu-info {
  padding: 15px;
}

.menu-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4e4e4d;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.menu-price {
  font-size: 1.1rem;
  color: #c56230;
  margin-top: 10px;
  font-weight: 600;
}

.menu-description {
  font-size: 1rem;
  color: #868684;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.section-menu .menu-category h2 {
  padding: 35px;
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #868684;
}

.nama-kelompok {
  text-align: center;
  padding: 30px;
  color: #868684;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
  background-color: #4e4e4d;
  padding: 30px;
  height: 70px;
}

.footer-content {
  color: #fff;
  font-size: 13px;
}

.contact-us {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.contact-us .contact-info img {
  width: 500px;
  align-items: center;
  padding: 20px;
}

.contact-us .contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  padding: 15px;
  font-weight: bold;
  color: #868684;
  text-transform: uppercase;
}

.contact-us .contact-info p {
  font-family: "Montsrrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  color: #868684;
  font-weight: 500;
}

.contact-form {
  padding-top: 30px;
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #6c4b4b;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form .submit-btn {
  background-color: #6c4b4b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form .submit-btn:hover {
  background-color: #b68d72;
}

.landing-page-contact {
  height: 280px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 100px;
  background: #f1f0f07b;
}

.landing-page-contact::after {
  content: "";
  display: block;
  justify-content: center;
  width: 5%;
  height: 10px;
  background-color: #e7891d;
  margin: 10px auto;
}

.landing-page-contact h2 {
  color: #868684;
  font-size: 30px;
  font-weight: bold;
  padding: 13px;
}

.landing-page-contact h4 {
  color: #e7891d;
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
}

.landing-last {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.landing-last .last-desc {
  padding: 30px;
}

.landing-last .last-desc h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 27px;
  font-size: 26px;
  color: #868684;
  text-transform: uppercase;
}

.landing-last .last-desc p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #868684;
  text-transform: uppercase;
}

.social-landing {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.social-landing .social-media ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.social-landing .social-media ul li {
  list-style: none;
}

.social-landing .social-media ul li a {
  color: #e7891d;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.social-landing .social-media ul li a i {
  font-size: 50px;
  padding: 20px;
}

.social-landing .social-media ul li a h2 {
  padding: 10px;
  text-transform: uppercase;
}

.social-landing .social-media ul li a p {
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  header {
    position: sticky;
    z-index: 1100;
  }
  .navbar .logo {
    padding: 10px;
  }

  .hero-section {
    height: auto;
    padding: 0px;
  }
  .hero-section .section-content {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 20px;
  }

  .hero-section .hero-details :is(.subtitle, .desc) {
    max-width: 100%;
  }

  .hero-section .hero-details .buttons {
    justify-content: center;
  }

  .hero-section .hero-img-wrapper {
    max-width: 270px;
    margin-right: 0;
  }
  .container1 {
    width: 100%;
    padding: 20px;
  }

  .box-menu {
    height: auto;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu-item:active {
    transform: scale(1.05);
    background-color: #edededa3;
  }

  .landing-page-profil {
    height: auto;
    padding: 20px;
  }

  .landing-page-contact {
    padding: 20px;
    height: auto;
  }

  .contact-us .contact-info img {
    width: 400px;
    justify-content: center;
  }
}
